/* Página de login */


/* Página inicial */
.button_first_page{
    background-color: #ebf0f8;
    margin-top: 18px;
    width: 500px;
    text-align: left;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.text{
    margin-top: 60px;
}

.text_first_page{
    margin-top: 55px;
    width: 500px;
    text-align: left;
}

.logo_first_page{
    margin-top: 40px;
    margin-bottom: 40px;
}

.bi{
   margin-top: 7.5px;
   margin-right: 15px;
}


/* Página de relatórios */

.back_button{
    background-color: #000000;
    color: rgb(240, 240, 240);
    border-radius: 20px;
    width: 130px;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
}

.dashboards{
    text-align: center;
    margin-top: 80px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

.card{
    width: 200px;
    border-radius: 45px;
    height: 200px;
    text-align: center;
    justify-content: center;

}

.mini_card{
    width: 70px;
    border-radius: 15px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #080808;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;

}

.mini_card_group{
    align-self: center;
}

.month{
    text-align: center;
    color: rgb(4, 4, 4);
    margin-bottom: 130px;
}

.october{
    background-color: #FFDA55;
    margin-left: 85px;
    font-size: 20px;
    font-weight: bold;
}

.september{
    background-color: #7ABDFF;
    margin-left: 85px;
    font-size: 20px;
    font-weight: bold;
}

.august{
    background-color: #FF6E5A;
    margin-left: 85px;
    font-size: 20px;
    font-weight: bold;
}

.july{
    background-color: #64CB74;
    margin-left: 85px;
    font-size: 20px;
    font-weight: bold;
}

.number1{
    color:rgb(255, 58, 58);
    font-size: 32px;
    
}

.number2{
    color:rgb(240, 240, 240);
    font-size: 32px;
}

.year{
    margin-left: 85px;
}

.bottom_year{
    margin-top: 70px;
}

.top_year{
    margin-top: 110px;
}

.subtitle{
    width: 47px;
    border-radius: 15px;
    height: 47px;
    justify-content: center;
    align-items: center;
    background-color: #080808;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}

.subtitle_red{
    width: 30px;
    border-radius: 10px;
    height: 30px;
    justify-content: center;    
    align-items: center;
    background-color: #FF4848;
}

.subtitle_white{
    width: 30px;
    border-radius: 10px;
    height: 30px;
    justify-content: center;    
    align-items: center;
    background-color: #f0f0f0;
}

.subtitle_group{
    position: absolute;
    flex-direction: column;
    left: 20px;
    top: 10px;
}

.subtitle_text{
    margin-top: 33px;
    font-size: 20px;
    font-weight: normal;
}



/* Página de visualização por mapa */

.black_part{
    width: 25%;
    height: 100%;
    background-color: #362E2E;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.search_text{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.search_space{
    margin-top: 20px;
    border-radius: 20px;
    height: 27px;
    border: none;
    padding: 10px;
    margin-bottom: 45px;
}

.equipament_card{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    background-color: #F5F9FD;
    border-radius: 15px;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 10px;
}

.alerts{
    color: #FF3434;
    margin-top: 50px;
    margin-bottom: 20px;
}

.lost_equipaments{
    color: #ededed;
    margin-top: 40px;
    margin-bottom: 20px;
}

.equipament_mini_card{
    background-color: #FF7985;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
}

.equipament_card_info{
    font-size: 14px;
}

.equipament_type{
    color: #ededed;
    font-size: 13px;
}

.radio{
    margin-left: 26%;
    margin-top: 20px;
}


/* página de login */
.login_Intro{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#foto{
    width: 90%;
}

.loginAdm{
    height: 100vh;
    background-color: #126a7b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    min-height: 600px;
    width: 500px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login_container_img{
    min-height: 600px;
    width: 500px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.copyright{
    display: flex !important;
    text-align: left !important;
    padding-top: 130px;
    
}

img{
    padding-top: 50px;
    width: 450px;
}

.login_title{
    margin-bottom: 32px;
    color: #303030;
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login_input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login_input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: #169def;
    transition: .3s ease-in-out;
}


.login_input:focus + .login_input-border::after{
    width: 100%;
}

.login_submit{
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: #d94431;
    color: white;
    background-size: 200%;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}

.login_submit:hover{
    background-position: right;
}

.login_reset{
    font-size: 12px;
    color: #929292;
    text-decoration: none;
}

.campo{
    margin-bottom: 1.5rem;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

.campo input[type="text"], .campo input[type="email"]{
    padding: 0.2em;
    display: block;
}
.radios{
    margin-top: 19px;
    margin-left: 18px;
}

.map_text{
    font-weight: bold;
    margin-left: 28%;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.map{
    margin-left: 26%;
    max-width: 1100px;
    max-height: 550px;
    margin-top: 30px;
}

/* Página ambientes específicos */

.specific_room{
    font-weight: bold;
    margin-left: 26%;
    margin-top: 120px;
}

.equipaments_specific_number{
    margin-top: 120px;
}

.info_room_group{
    flex-direction: row;
    margin-left: 26%;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 70px;
}

.equipament_card_room{
    /* margin-left: 26%; */
    width: 340px;
    height: 100px;
    background-color: #F5F9FD;
    border-radius: 15px;
    margin-bottom: 30px;
    flex-direction: column; 
    padding: 10px;
}

.info_card_group{
    margin-left: 31%;
}

.rooms_1{
    margin-right: 18%;
}
/* .equipament_card_room_group{
    flex-direction: row;
} */
